__pycache__/app.cpython-310.pyc
__pycache__/app.cpython-311.pyc
__pycache__/workwithdc.cpython-310.pyc
__pycache__/main.cpython-311.pyc
__pycache__/workwithdc.cpython-311.pyc
json/temp.json
__pycache__/outsideInteraction.cpython-310.pyc
